<div class="side-left" #leftActionDiv>
  <div class="row newMessage-heading">
    <div class="row newMessage-main">
      <div class="col-sm-2 col-xs-2 newMessage-back">
        <i class="fa fa-arrow-left" (click)="hide()" aria-hidden="true"></i>
      </div>
      <div class="col-sm-10 col-xs-10 newMessage-title">
        Profile Info
      </div>
    </div>
  </div>

  <div class="row compose-sideBar new-group">
    <form name="form" #form="ngForm" (ngSubmit)="save(form)">
      <div class="upload-icon" (click)="showFileExplorer()" [ngStyle]="{'background-image': 'url('+ model.Image +')'}">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
        <input type="file" style="display: none;" #fileUpload (change)="onFileSelect($event)" class="form-control"
          name="ProfilePic">
        <span>Profile Pic</span>
      </div>

      <div class="md-form">
        <input type="text" class="form-control" [(ngModel)]="model.FirstName" required #Name name="FirstName" placeholder="First Name">
      </div>

      <div class="md-form">
        <input type="text" class="form-control" [(ngModel)]="model.LastName" required #Name name="LastName" placeholder="Last Name">
      </div>

      <div class="md-form">
        <textarea class="form-control md-textarea" [(ngModel)]="model.Message" required #Message name="Message" placeholder="Message"></textarea>
      </div>

      <div>
        <span class="text-danger" *ngIf="form.submitted && FirstName.invalid">
          <span *ngIf="FirstName.errors.required">FirstName required</span>
        </span>

        <span class="text-danger" *ngIf="form.submitted && LastName.invalid">
          <span *ngIf="LastName.errors.required">LastName required</span>
        </span>

        <span class="text-danger" *ngIf="form.submitted && Message.invalid">
          <span *ngIf="Message.errors.required">Status Message required</span>
        </span>

        <span class="text-danger" *ngIf="errorMessage">
          {{errorMessage}}
        </span>
      </div>

      <div class="create-group">
        <button type="submit" class="create-group-icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
      </div>
    </form>
  </div>

</div>