$color_1: #000;
$color_2: #93918f;
$color_3: #a0a0a0;
$color_4: #fff;
$color_5: #b2b2b2;
$color_6: #999;
$color_7: rgba(0, 0, 0, .4);
$color_8: #f0f0f0;
$color_9: #585858;
$background_color_1: #f7f7f7;
$background_color_2: #eee;
$background_color_3: #fbfbfb;
$background_color_4: #fff;
$background_color_5: #f2f2f2;
$background_color_6: #00bfa5;
$background_color_7: #928f8f;
$background_color_8: #e5e5e5;
$background_color_9: #f7b334;
$background_color_10: #f5f1ee;
$background_color_11: #009688;